// ==============================
// Custom style
// 自定义样式
// ==============================

@font-face {
  font-family: BowlbyOne; /* set name */
  src: url(/fonts/BowlbyOne-Regular.ttf) format('truetype');; /* url of the font */
}
@font-face {
  font-family: GloriaH; /* set name */
  src: url(/fonts/GloriaHallelujah-Regular.ttf) format('truetype');; /* url of the font */
}
@font-face {
  font-family: LondonP; /* set name */
  src: url(/fonts/london-presley.ttf) format('truetype');; /* url of the font */
}

.home[posts] {
  .home-avatar img {
    width: 20rem;
  }
  .single {
    text-align: center;
  }
}


.menu-inner {
    font-family: GloriaH;
    font-size: larger;
}

.header-title {
    font-family: LondonP;
}

.featured-image-preview {
    width: 100%;
    padding: 30% 0 0;
    position: relative;
    margin: 0.6rem auto;
    @include transition(transform 0.4s ease);

    img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    }
}

.container {
    display: flex;
    flex-direction: row;
}

.container img {
    // margin: 10px;
    // padding: 20px;
    width: 100%;
}

.hidden-img {
    display: none;
}