// ==============================
// Custom style
// 自定义样式
// ==============================
.featured-image-preview {
    width: 100%;
    padding: 30% 0 0;
    position: relative;
    margin: 0.6rem auto;
    @include transition(transform 0.4s ease);

    img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
    }
}
.container {
    display: flex;
    flex-direction: row;
}

.container img {
    // margin: 10px;
    // padding: 20px;
    width: 100%;
}